<?xml version="1.0" encoding="UTF-8"?>
<beans profile="default" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:myname="http://www.athm.com/schema/user"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.athm.com/schema/user http://www.athm.com/schema/user.xsd">
	<bean id = "debugBean" name="debugBean"  class = "com.athm.DebugSpringBean"></bean>
	<alias name="debugBean" alias="debugBeanAlias"></alias>
	<bean id = "debugBean2" class = "com.athm.DebugSpringBean"></bean>
	<alias name="debugBean2" alias="debugBeanAlias2"></alias>
	<bean id = "debugBean3" class = "com.athm.DebugSpringBean"></bean>

	<myname:user id="testbean" userName="zhangsan" email="zhangsan@autohome.com.cn"></myname:user>

	<bean id="car" class="com.athm.factorybean.CarFactoryBean">
		<property name="carInfo" value="超级跑车,400,2000000"></property>
	</bean>

	<bean id="car2" class="com.athm.factorybean.CarFactoryBean"></bean>
</beans>